<div class="container d-flex justify-content-lg-center" style="padding-top: 120px;min-height: 64vh;">
    <div class="box-password">
        <h4 class="text-center mb-2">Đặt lại mật khẩu</h4>
        {{#if sent}}
        {{!-- Sau khi nhập mail --}}
        <div class="text-center mb-2" style="width: 320px">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            Mã xác minh đã được gửi đến địa chỉ email {{email}}<br> Vui lòng xác minh.
        </div>
        <a href="/tai-khoan" class="btn btn-password">OK</a>
        {{else}}
        <form action="/tai-khoan/forgot-password" method="POST" class="mt-4">
            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
            {{#if error}}
            <div class="alert alert-danger mt-4">{{error}}</div>
            {{/if}}
        <div class="text-center">
            <button type="submit" class="btn btn-password">TIẾP THEO</button>
        </div>
        </form>
        <a href="/tai-khoan">Quay lại</a>
        {{/if}}

    </div>
</div>