.qty{
    border: 1px solid rgb(118,118,118);
    background-color: #efefef;
    text-align: center;
    color: black;
}

/*******************header***********************/
.navbar-brand{
    margin-top: 0;
}
.nav-link:hover .count-cart{
    color: white;
    transition: all 0.5s;
}
/************************/
.link-img{
    display: block;
    min-height:153px
}

.product-item .down-content h4{
    margin-bottom: 10px;
}

.btn-muahang{
    margin-top: 10px;
}

.btn-search{
    color:#f33f3f;
    border-color: #f33f3f;
}

.dropdown:hover .dropdown-menu{
    display: block;
    top: 95%;
}

.cart-icon{
    position: relative;
}

.count-cart{
    background-color: #f33f3f;
    display: inline-block;
    padding: 2px 6px;
    position: absolute;
    top: -16px;
    right: -14px;
}
.border-img{
    border: 1px solid rgb(180, 177, 177);
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

.star{
    color: rgb(247, 223, 89);
    cursor: pointer;
}

.btn-main{
    background-color: #f33f3f;
    color: white;
}
.btn-outline-main{
    color: #f33f3f;
    border-color: #f33f3f;
}

#cmt{
    display: none;
}

.img-detail{
    width: 90%;
    display: block;
    margin: auto;
}

#img-brand{
    height: 35px;
    margin-bottom: 30px;
    text-align: center;
}
#img-brand img{
    display: inline-block;
    /*padding: 5px;*/
    /* border: 1px solid rgb(218, 218, 218); */
}

.giaban{
    font-size: 14px;
    text-decoration: line-through;
}

/* .tb-type{
    border: 1px solid #dee2e6;
} */
.tb-type thead th{
    border: none;
    background-color: #f33f3f;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}
.tb-type tbody tr td{
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-top: none;
}
.tb-type tbody tr:last-child{
    border-bottom: 1px solid #dee2e6;
}

.detail-qty{
    width: 2rem;
    padding-top: 4%;
}
.input-detail-qty{
    width: 2.3rem;
    border-radius: 0;
    border-top: 1px solid rgb(118,118,118);
    border-bottom: 1px solid rgb(118,118,118);
}

.comment{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}
.img-avatar, .avatar{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.avatar{
    height: 50px;
    background-color: #f99a9c;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 17px;
}
.content-cmt{
    /* border: 1px solid gray; */
    background:#fff0f0;
    border-radius: 10px;
    padding: 2px 10px;
}
/*GIỎ HÀNG*/
.alert-cart{
    text-align: center;
    padding: 0.25rem 1.25rem;
    display: none;
}
.table-cart td, .table-cart th{
    border-right: none;
    border-left: none;
    vertical-align: middle;
}
.table-cart th{
    text-align: center;
    background-color: rgb(243, 243, 243);
}
.table-cart td:last-child a{
    color:#e73131;
    font-size: 18px;
}
.box-cart-qty{
    display: flex;
}

.cart-qty{
    width: 1.5rem;
}

.input-qty{
    width: 2.3rem;
    border: 1px solid rgb(118,118,118);
    border-left: none;
    border-right: none;
    text-align: center;
    background-color: inherit;
}

.box-voucher{
    text-align: right;
}
#voucher{
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 3px;
    outline: none;
}

.btn-cart{
    padding: 2px 10px;
    border-radius: 0;
}

.box-delivery, .box-payment{
    border: 1px solid #ced4da;
    padding: 10px;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}

/*ĐƠN MUA*/
.order{
    /* background-color: rgb(223, 223, 223); */
    padding: 10px;
    box-shadow: 1px 1px 3px 2px rgb(223, 223, 223);
}
.pro-order{
    flex: 1; 
    text-align: right; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

/*TRANG TÀI KHOẢN*/
.profile{
    display: flex;
    margin: 10px 0px
}
.profile p{
    font-size: 15px;
}
.profile p:first-child{
    width: 26%;
    text-align: right;
    margin-right: 30px;
}
.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/******************* footer ***********************/
footer .info-content{
    margin: auto;
    display: flex;
    justify-content: space-around;
    background: #232323;
    padding: 36px 0px;
}
footer .detail-info-content{
    text-align:left;
    letter-spacing: 1px;
}
footer .detail-info-content p{
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}
footer .detail-info-content ul li{
    color: white;
    font-size: 14px;
}
footer .detail-info-content ul li i{
    font-size: 10px;
    margin-right: 2px;
}

/*PASSWORD*/
.box-password{
    box-shadow: 1px 1px 2px 2px #eaeaea;
    padding: 40px 68px;
}
.box-password form{
    width: 320px;
}
.box-password .btn-password{
    background-color: #f33f3f;
    border: 1px solid #f33f3f;
    width: 100%;
    color: white;
}
.box-password i{
    display: block;
    font-size: 60px;
    margin: 14px 0;
}