<footer>
        <div class="row">
          <div class="col-md-12">
            <div class="info-content">
              <div class="detail-info-content">
                <p>CAMERA SHOP</p>
                <ul class="list-detail">
                  <li><i class="fa fa-arrow-right" aria-hidden="true"></i>Giới thiệu</li>
                  <li><i class="fa fa-arrow-right" aria-hidden="true"></i>Liên hệ</li>
                </ul>
              </div>
              <div class="detail-info-content">
                <p>HỖ TRỢ KHÁCH HÀNG</p>
                <ul class="list-detail">
                  <li><i class="fa fa-arrow-right" aria-hidden="true"></i>Phương thức thanh toán</li>
                  <li><i class="fa fa-arrow-right" aria-hidden="true"></i>Vận chuyển & giao hàng</li>
                </ul>
              </div>
              <div class="detail-info-content">
                <p>CHÍNH SÁCH</p>
                <ul class="list-detail">
                  <li><i class="fa fa-arrow-right" aria-hidden="true"></i>Chính sách bảo hành</li>
                  <li><i class="fa fa-arrow-right" aria-hidden="true"></i>Chính sách đổi trả</li>
                </ul>
              </div>
              <div class="detail-info-content">
                <p>Mạng xã hội</p>
                <div class="icons-social" style="color: white; font-size: 32px">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                  <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{!-- <div class="container"> --}}
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2020 Sixteen Clothing Co., Ltd.            
            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
            </div>
          </div>
        </div>
      {{!-- </div> --}}
</footer>

